<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <title>Add Cookie</title>
</head>
<body>
<form action="/addCookie" method="post">
    Key:<input type="text" name="key">
    Value:<input type="number" name="value">
    <input type="submit" value="Submit">
</form>
<p>
    <%= cookieList %>
</p>

</div>
</table>

</body>
</html>